.Switch {
  border: blue solid 2px;
  width: 200px;
  height: 150px;
  margin: auto;
  text-align: center;
}

.Switch.On {
  background-color: green;
  color: white;
}

.Switch.Off {
  background-color: magenta;
}